@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.note-highlight {
  fill: red;
}
.keyboard-whitekey-note-on {
  fill: gray;
}
.keyboard-whitekey-note-off {
  fill: white;
}
.keyboard-blackkey-note-on {
  fill: gray;
}
.keyboard-blackkey-note-off {
  fill: black;
}

.whitekeys .note-on {
  fill: red;
}
.whitekeys .note-off {
  fill: white;
}
.blackkeys .note-on {
  fill: red;
}
.blackkeys .note-off {
  fill: black;
}
